.box-container-button {
  display: flex;
  flex-direction: column;  
  align-items: flex-start;  
  background-color: var(--boxcontainer1-color);
  padding: 10px;
  border: none;  
  border-radius: 1.25rem;
  cursor: pointer;
  width: 200px;  
  margin-bottom: 2%;
  
}



.box-header {
  display: flex;
  align-items: center;
  width: 100%;
  
}

.square {
  height: 2rem;
  width: 2rem;
  border-radius: 5px;;
  background-color: rgba(255, 255, 255, 0.3);
  margin-right: 10px;
}


.box-info {
  width: 100%;
  
}

.box-name {
  font-size: 1.2em;  
  margin-bottom: 0;
  color: var(--white);
  
}

.location {
 font-size: 1em;
 color: var(--white);
 font-weight:medium;
 text-align: center;
}