

:root {
  --main-color: #FF553E;
  --secondary-color: #4D4C4C;
  --mouseover-color: #FF7663;
  --onclick-color: #FF7360;
  --background-color: #FFF8F2;
  --boxcontainer1-color: #70D0DC;
  --boxcontainer2-color: #7562E0;
  --boxcontainer3-color: #FA865F;
  --white: #ffffff;
  --itembackground-color: #F5F5F5;
  background-color: var(--background-color);
}

* {
  color: var(--secondary-color);
  font-size: 1rem;
  font-family: Poppins, Arial, Helvetica, sans-serif;
     
  
}



@media screen and (max-width: 700px) {
  :root {
    font-size: 0.8rem;
  }
}



 body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  /* min-width: 320px; */
  /* min-height: 100vh; */
} 

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
