.content-main {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: fit-content;
  margin-top: 4rem;
  background-color: red;
}

.content-text {
  width: 80%;
  /* max-width: 600px; */
  margin: 0;
  font-weight: 800;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: green;
}


@media screen and (max-width: 700px) {
  .content-main {
    flex-direction: column;
  }
}